html {
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-size: 16px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  line-height: 1;
  -moz-transition: font-size 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    opacity 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s,
    filter 0.8s linear 0.2s;
  -webkit-transition: font-size 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    opacity 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s,
    filter 0.8s linear 0.2s;
  transition: font-size 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    opacity 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.8s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s,
    filter 0.8s linear 0.2s;
  font-size: 16px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  -webkit-filter: brightness(80%) grayscale(100%);
  filter: brightness(80%) grayscale(100%);
}

.panel:hover {
  -webkit-filter: brightness(90%) grayscale(100%);
  filter: brightness(90%) grayscale(100%);
}

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
  font-size: 0.2em;
  opacity: 0;
}
.panel.open-active > *:first-child {
  transform: translateY(0);
  font-size: 1em;
  opacity: 1;
}

.panel > *:last-child,
.panel > *:nth-child(3) {
  transform: translateY(100%);
  font-size: 0.2em;
  opacity: 0;
  line-height: 1;
}
.panel.open-active > *:last-child,
.panel.open-active > *:nth-child(3) {
  transform: translateY(0);
  font-size: 1em;
  opacity: 1;
}

.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel.open {
  flex: 5;
  font-size: 1.7rem;
  -webkit-filter: brightness(100%) grayscale(0%);
  filter: brightness(100%) grayscale(0%);
}

/* @media all and (max-width: 492px) { */
@media all and (orientation: landscape) {
  .panels {
    flex-direction: row;
  }
}

@media all and (orientation: portrait) {
  .panels {
    flex-direction: column;
  }
}

/* @media only screen and (max-width: 768px) { */
@media all and (max-height: 540px) {
  .panel {
    font-size: 0.8rem;
  }

  .panel.open {
    flex: 4;
    font-size: 1rem;
  }
}

@media all and (max-height: 375px) and (orientation: landscape) {
  .panel {
    font-size: 0.7rem;
  }

  .panel.open {
    flex: 4;
    font-size: 0.9rem;
  }
}

@media all and (max-width: 568px) and (orientation: landscape) {
  .panel {
    font-size: 0.6rem;
  }

  .panel.open {
    flex: 4;
    font-size: 0.8rem;
  }
}

@media all and (max-width: 375px) and (orientation: portrait) {
  .panel {
    font-size: 0.9rem;
  }

  .panel.open {
    flex: 4;
    font-size: 1.1rem;
  }
}

@media all and (min-width: 1366px) and (orientation: landscape) {
  .panel {
    font-size: 1.4rem;
  }

  .panel.open {
    flex: 4;
    font-size: 2.2rem;
  }
}

@media all and (min-height: 1366px) and (orientation: portrait) {
  .panel {
    font-size: 1.4rem;
  }

  .panel.open {
    flex: 4;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 892px) and (min-device-height: 768px) {
  .panels {
    flex-direction: column;
  }
}
